<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href={% static "main.css" %}>
    <title>TODO</title>
</head>
<body>
    <div class="container">
        <h1 class="logo"><span>To-Do</span> App</h1>
        <hr>
        <div class="form">
            <fieldset>
                <legend>New Task</legend>
                <form action="/addTask/" method="POST">{% csrf_token %}
                    <br>
                    <label>Title</label>
                    <br>
                    <input type="text" name="title" class="title"/>
                    <br>
                    <br
                    <label>Description</label>
                    <br>
                    <input type="text" name="description" class="description"/>
                    <br>
                    <br>
                    <button type="submit" class="add-button">Add</button>
                </form>
            </fieldset>
        </div>
        <ol class="list">
        {% for i in tasks %}
            <li class="each-item">
                <span>Task</span>  :  {{i}} 
                <br>
                <span>Description</span>  :  {{i.description}}
                <br>
                <span>Date Created</span>  :  {{i.date_and_time_of_creation}}
                <br>
                <form action="/deleteTask/{{i.id}}/" method="POST">{% csrf_token %}
                    <button class="delete-button">delete</button>
                </form>
                <a href="/updateTask/{{i.id}}/">update</button>
            </li>
        {% endfor %}
        </ol>
    </div>
</body>
</html>